<div class="background">
  <section class="hero is-dark is-bold is-small">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-mobile is-vcentered">
          <div class="column is-8">
            <h1 class="title">Finance Dashboard</h1>
            <h2 class="subtitle">Monitor key financial metrics</h2>
          </div>
          <div class="column is-4">
            <div class="buttons is-right">
              <button class="button is-light" *ngIf="!isLoggedIn" (click)="openLoginDialog()">
                <span class="icon">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
                <span>Login</span>
              </button>
              <button class="button is-light" *ngIf="isLoggedIn" (click)="logout()">
                <span class="icon">
                  <i class="fas fa-sign-out-alt"></i>
                </span>
                <span>Logout</span>
              </button>
              <button class="button is-light" (click)="toggleTheme()">
                <span class="icon">
                  <i class="fas fa-adjust"></i>
                </span>
                <span>Toggle Theme</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container mt-5">
    <div class="columns">
      <div class="column is-one-fifth">
        <aside class="menu">
          <!-- Side Navigation -->
          <p class="menu-label has-text-white">General</p>
          <ul class="menu-list">
            <li><a routerLink="/dashboard" routerLinkActive="is-active"><i class="fas fa-tachometer-alt"></i>
                Dashboard</a></li>
            <li><a routerLink="/stocks" routerLinkActive="is-active"><i class="fas fa-chart-line"></i> Stocks</a></li>
            <li *ngIf="isLoggedIn"><a routerLink="/portfolio" routerLinkActive="is-active"><i
                  class="fas fa-briefcase"></i> Portfolio</a></li>
            <li *ngIf="isLoggedIn"><a routerLink="/trade-shares" routerLinkActive="is-active"><i
                  class="fas fa-exchange-alt"></i> Trade Shares</a></li>
          </ul>
          <p class="menu-label has-text-white">Administration</p>
          <ul class="menu-list">
            <li><a routerLink="/team-settings" routerLinkActive="is-active"><i class="fas fa-cogs"></i> Team
                Settings</a></li>
          </ul>
        </aside>
      </div>
      <div class="column is-three-quarters">
        <!-- Route-specific content will be rendered here -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <div *ngIf="showLoginDialog">
    <div class="modal is-active">
      <div class="modal-background" (click)="closeLoginDialog()"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Login</p>
          <button class="delete" aria-label="close" (click)="closeLoginDialog()"></button>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <label class="label">Username</label>
            <div class="control">
              <input class="input" type="text" #usernameInput [(ngModel)]="loginUsername" placeholder="Username">
            </div>
          </div>
          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="password" [(ngModel)]="loginPassword" placeholder="Password">
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" (click)="submitLogin()">Login</button>
          <button class="button" (click)="closeLoginDialog()">Cancel</button>
        </footer>
      </div>
    </div>
  </div>
</div>